/* --------------------네비게이션-------------------- */
#top .nav_bg{
    background-color: var(--white);
    padding: 10px 0 10px 0;
}
#top .navbar-brand img{
    display: block;
}
/* 로고와 메뉴사이 간격 */
#top .navbar-nav{
    margin-left: 20px;
}
/* 네비 메뉴 디자인 */
#top .nav-link{
    margin-right: 15px;
    border: 1px solid var(--black);
    border-radius: 0 15px 15px 0;
    padding: 0 25px 0 15px;
}
/* 네브 활성화 되거나 hover시 효과 */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, #top nav .nav-link:hover{
    background-color: var(--black);
    color: white;
}
/* 토글버튼 아웃라인 효과수정 */
#top button:focus{
    outline: none;
}
/* --------------------footer-------------------- */
footer{
    margin-top: 300px;
}
footer .row{
    margin-top: 50px;
}
footer .row_tel{
    margin-bottom: 30px;
}
footer .row_sns{
    margin-bottom: 50px;
}
footer a{
    color: var(--black);
}
footer a:hover{
    color: var(--black);
}
footer .row_touch div{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 6em;
    margin-bottom: 120px;
}